* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: inherit; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; }

.titlebar {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
  text-align: right;
  -webkit-app-region: drag; }
  .titlebar ul {
    list-style: none;
    display: inline-flex;
    flex-flow: row nowrap; }
    .titlebar ul li {
      width: 32px;
      height: 100%;
      text-align: center;
      line-height: 32px;
      color: #A1A1A1;
      cursor: pointer;
      font-size: 1.8em;
      -webkit-app-region: no-drag; }

.header {
  height: 96px;
  line-height: 72px;
  color: #444444;
  display: flex;
  width: 100%;
  padding-top: 32px; }
  .header .header__title {
    font-size: 2.8em;
    padding-left: 32px;
    font-weight: 400; }
