// VARIABLES
$dark-grey: #444444
$light-grey: #A1A1A1

// GENERAL
*
    margin: 0
    padding: 0
    box-sizing: border-box

    &:after, &:before
        box-sizing: inherit

html, body
    width: 100%
    height: 100%
    font-family: "Open Sans", sans-serif
    font-size: 62.5%

// WINDOW
.titlebar
    display: block
    position: absolute
    right: 0
    top: 0
    height: 32px
    line-height: 32px
    width: 100%
    text-align: right
    -webkit-app-region: drag

    ul
        list-style: none
        display: inline-flex
        flex-flow: row nowrap

        li
            width: 32px
            height: 100%
            text-align: center
            line-height: 32px
            color: $light-grey
            cursor: pointer
            font-size: 1.8em
            -webkit-app-region: no-drag

// HEADER
.header
    height: 96px
    line-height: 72px
    color: $dark-grey
    display: flex
    width: 100%
    padding-top: 32px

    .header__title
        font-size: 2.8em
        padding-left: 32px
        font-weight: 400
